{% extends "base.html" %}

{% block content %}
<section class="snippet-list">
    <a href="{% url 'add_snippet' %}">Add New Snippet</a>
    <br>
    <br>
    <a href="{% url 'list_favorites' %}">Your Favorite Snippets</a>

    {% for snippet in snippets %}
    <div class="snippet">
        <p><a href="{% url 'show_snippet' pk=snippet.pk %}">{{snippet.title}}</a></p>
        <p>{{snippet.author}}</p>
        <p>{{snippet.language}}</p>
        <pre><code id="details">
        {{snippet.description}}
        </code></pre>
        <p>{{snippet.created_at}}</p>
       
        <a href={% url 'edit_snippet' pk=snippet.pk %}>Edit</a>
        <a href={% url 'delete_snippets' pk=snippet.pk %}>Delete</a>
    </div>
    {% endfor %}
</section>

<center>
<form action="{% url 'search_bar' %}" method="get">
    <input type="text" name="search"/>
    <button type="submit">Search</button>
</form>

<div class="back-button">
    <a href={% url "list_snippets" %}>Back To All Snippets</a>
</div>
</center>
{% endblock content %}

<a href={% url 'add_snippet' %}>Add a new Snippet</a> 