{% extends "base.html" %}

{% block content %}
<section class="snippet-list">
    <a href="{% url 'add_snippet' %}">Add New Snippet</a>
    <br>
    <br>
    <a href="{% url 'list_favorites' %}">Your Favorite Snippets</a>
    <br>
    <br>
    <a href="{% url 'list_categories' %}">Categories</a>

    {% for snippet in snippets %}
    <div class="snippet">
        <p><a href="{% url 'show_snippet' pk=snippet.pk %}">{{snippet.title}}</a></p>
        <p>{{snippet.author}}</p>
        <p>{{snippet.language}}</p>
        <pre><code id="details">
        {{snippet.description}}
        </code></pre>
        <p>{{snippet.created_at}}</p>
       

    </div>
    <div>
        {% for each in snippet.category.all %}
            <a href="{% url 'show_categ' slug=each.slug %}">{{each.category_name}}</a>
            {% endfor %}
    </div>
    {% endfor %}
</section>


<div class="back-button">
    <a href={% url "list_snippets" %}>Back To All Snippets</a>
</div>
</center>
{% endblock content %}

<a href={% url 'add_snippet' %}>Add a new Snippet</a> 