{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    </script>
    <script>hljs.highlightAll();</script>
    <script src={% static 'main.js' %}  defer></script>

  <title>SnippetWorks</title>
</head>
<body>
  
    </div>
  </nav>
<!-- Sidebar starts -->

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{% url 'list_snippets' %}">Home</a>
    <a href="{% url 'list_categories' %}">Categories</a>
    <a href="{% url 'list_favorites' %}">Favorites</a>
    <a href="#">Profile</a>
  </div>
  
<!-- Topbar starts -->
<div class="topnav" id="myTopnav">
 <h1>SnippetWorks</h1>
{% if user.is_authenticated %}
      <p>You are logged in as, {{ user.username }}!</p>
      <a href="{% url 'auth_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'auth_login' %}">Login</a>
      {% endif %} 
  <a href="{% url 'list_snippets' %}" class="myTopnav">Home</a>
  <a href="#contact">Contact</a>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<!-- Topbar ends -->
<div style="padding-left:16px">
  <h2>Responsive Topnav Example</h2>
  <p>Resize the browser window to see how it works.</p>
</div>



  <div id="main">
    <button class="openbtn" onclick="openNav()">☰ SnippetWorks</button>  
  </div>

  <!-- Sidebar end  -->
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
